<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <p>Completed Count: {{ completedTodos }}</p>


    <form @submit.prevent="addTodo">
      <select name="selectTodo" v-model="filterOption">
        <option value="all">전체 Todo</option>
        <option value="completed">완료된 Todo</option>
        <option value="incomplete">미완료된 Todo</option>
      </select>
      <input type="text" v-model="newTodo">
      <input type="submit" value="Add" @submit.prevent="addTodo">
    </form>

    <ul>
      <li v-for="todo in filteredTodos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, watch, computed } = Vue

    const app = createApp({
      setup() {
        const todos = ref([])
        const newTodo = ref('')
        const completedTodos = ref(0)
        const filterOption = ref('incomplete')

        const addTodo = function () {
          if (newTodo.value.trim() !== '') {
            const todoObj = {
              id: Date.now(),
              text: newTodo.value,
              isCompleted: false
            }
            todos.value.push(todoObj)
            newTodo.value = ''
          }
        }
        watch(
          todos,
          (newTodos) => {
            let count = 0
            for (const checkTodo of newTodos) {
              if (checkTodo.isCompleted === true) {
                count++
              }
            }
            completedTodos.value = count
          },
          { deep: true }
        )
        const selectedTodo = computed(() => {
          return 
        })

        const filteredTodos = computed(() => {
          if (filterOption.value === 'completed') {
            return todos.value.filter(todo => todo.isCompleted)
          } else if (filterOption.value === 'incomplete') {
            return todos.value.filter(todo => !todo.isCompleted)
          } else {
            return todos.value
          }
        })

        const deleteTodo = function (todoId) {
          const index = todos.value.findIndex(todo => todo.id === todoId)
          if (index !== -1) {
            todos.value.splice(index, 1)
          }
        }

        return { todos, newTodo, completedTodos, addTodo, deleteTodo, filterOption, filteredTodos }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
