<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>나만의 SNS 서비스</h1>
  <div>
    <a href="{% url "articles:create" %}">[CREATE]</a>
  </div>
  {% for article in articles %}
    {% if article.image %}
      <img src="{{ article.image.url }}" alt="image" width=400px>
    {% endif %}
    <div>
      <a href="{% url "articles:detail" article.pk %}">{{ article.title }}</a>
    </div>
    <hr>
  {% endfor %}
</body>
</html>