<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>식당 생성 페이지</h1>
  <form action="{% url "restaurants:create" %}" method='POST'>
    {% csrf_token %}
    <div>
      <a>식당 이름: </a>
      <input type="text" name='name'>
    </div>
    <div>
      <a>식당 설명: </a>
      <input type="text" name='description'>
    </div>
    <div>
      <a>식당 주소: </a>
      <textarea name="address" id=""></textarea>
    </div>
    <div>
      <a>식당 전화번호: </a>
      <textarea name="tel" id=""></textarea>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
  <a href="{% url "restaurants:index" %}">[BACK]</a>
</body>
</html>